body {
  font-size: 2.0rem;
  text-align: center;
  font-family: -apple-system, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', 'メイリオ', meiryo, sans-serif;
  padding-top: 50px;
}
i {
  padding: 0 10px;
}

.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}
#aboutme {
  background-color: #CCFFFF;
  margin-top: -30px;
  padding: 30px 30px 80px;
  /*padding-topとmargin-topで相殺すれば、navがtopに固定されてても頭出しがうまくいく*/
}

#aboutme-text{
  /*background-color: #FF0000;*/
  position: relative;
  text-align: left;
  padding: 0 10px;
}

#carrer {
  background-color: #FFFFEE;
  margin-top: -30px;
  padding: 45px 30px 80px;
}
#skills {
  background-color: #FF99CC;
  padding: 15px 30px 80px;

}
#products {
  background-color: #CCFFFF;
  padding: 15px 30px 80px;
}
#talks {
  background-color: #FFFFEE;
  padding: 15px 30px 80px;
}

#hobbies {
  background-color: #FF99CC;
  padding: 15px 30px 80px;

}
#books {
  background-color: #CCFFFF;
  padding: 15px 30px 80px;
}
#accounts {
  background-color: #FFFFEE;
  padding: 15px 30px 80px;
}
#footer {
  background-color: #FF0000;
}
